
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles if needed globally */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #131823; 
}
::-webkit-scrollbar-thumb {
  background: #3A3D44; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525252; 
}
